{{#if user}}
<br/><br/>
<div class="col-md-3"></div>
<div id="formInput" class="col-md-6">
	<div class="col-md-12">

	<h2>Entry type:</h2>
	
	<button class="btn btn-primary" id="textButton">Notes</button> <button class="btn btn-primary" id="vidButton">Video</button> <button class="btn btn-primary" id="picButton">Picture</button><br><br>
	<form class="input-group" id="imageInput">
		Image Upload: <input id='fileConvert' type='file' onchange='fileToURL();'/>
	</form>
	<form id="itemContents">
		Title:<input type="text" id="itemTitle"><br/><br/>
		Culture: <input type="text" id="groupName"><br/><br/>
		Period: <input type="text" id="period"><br/><br/>
		Author: <input type="text" id="author"><br/><br/>
		<div id="mediaType">
		</div>
		<div class="output">
			<img class='thumbnail center-block img-responsive' id='preview'/><br/>
		</div>
		<h3>Subjects<br/>(Click any topic for full menu, check all boxes that apply)</h3>

		{{#each topic}}
			<br/>
			<div class="col-xs-12">
				<h4 class="underScores hideBoxes">{{this}}</h4>
				<div class="formCateg hideBoxes" id="{{this}}"></div>
			</div>
		{{/each}}

		<br/><br/>
		<button class="btn btn-default" type="submit" id="submit">Submit</button>
	</form>
	</div>
</div>
<div class="col-md-3"></div>

<div id="allSubjs">
	{{allSubjs}}
</div>

{{/if}}