<div>
	<h2>Entry type:</h2>
	<button class="btn btn-primary" id="textButton">Notes</button> <button class="btn btn-primary" id="vidButton">Video</button> <button class="btn btn-primary" id="picButton">Picture</button>
	<form id="itemContents">
		Title: <input type="text" id="itemTitle"><br/>
		Culture: <input type="text" id="groupName"><br/>
		Period: <input type="text" id="period"><br/>

	</form>
</div>
<script type="text/javascript" src="../../assets/js/formContent.js"></script>