<div class="row"><div class="col-xs-12"><h2></h2></div></div>
<div class="col-xs-12 col-md-1"></div>
<div class="col-xs-12 col-md-10">
	<div class="panel panel-default">
		<div id="resultsHeading" class="panel-heading">
			<h2>My Account</h2>
		</div>
		<div id="resultsBody" class="panel-body">
			<form action="../updateacct" method="POST">
				<table>
					<tbody>
						{{#each entry}}
							<tr>
								<td><h4>Name: </h4></td>
								<td><input type="text" class="form-control" name="acctName" value="{{this.name}}"/></td>
							</tr>
							<tr>
								<td><h4>Email: </h4></td>
								<td><input type="text" class="form-control" name="acctEmail" value="{{this.email}}"/></td>
							</tr>
						{{/each}}
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td><h3>Update password:</h3></td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td><h4>Current password: </h4></td>
								<td><input type="password" class="form-control" name="currPw" /></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td><h4>New password: </h4></td>
								<td><input type="password" class="form-control" name="newPw1" /></td>
							</tr>
							<tr>
								<td><h4>Please retype new password:&nbsp;&nbsp;</h4></td>
								<td><input type="password" class="form-control" name="newPw2" /></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><input type="submit" id="submit" name="userUpdate" value="Update!"/></td>
							</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</div>
<div class="col-xs-12 col-md-1"></div>