<div class="col-xs-12">
	<h2>Browse by Culture</h2>
	{{#each entry}}
			<h3><a href="../group/{{this.group_name}}">{{this.group_name}}</a> <span class="ifAltName" id="{{this.alt_name}}"></span></h3>
	{{/each}}
</div>