<div class="col-xs-12">
<h1>The Native American Encyclopedia</h1>
<img src="/images/cornmaiden.JPG" width="150"/>
</div>
<div class="col-xs-12">
	<ul>
	{{#each entry}}
	<li>
	{{this.id}} {{{this.title}}} {{{this.introtext}}}
	</li>
	{{/each}}
	</ul>
</div>