<div class="col-xs-12">
<h1 style="text-align:center">The Native American Encyclopedia</h1>
<img src="/images/kwakiutl-clan-mask.png" width="150" style="margin:auto;"/>
</div>
<div class="col-xs-12">
	<ul>
	{{#each entry}}
	<li> {{#each media_sources}}
		{{#if @first}}
			<img src="{{this.img_ref_1}}" width="150"/>
		{{/if}}
		{{/each}}
		<br> {{this.id}} {{{this.item_title}}} {{this.group}}
	</li>
	{{/each}}
	</ul>
</div>