<div class="Background"></div>
<nav class="navbar navbar-inverse navbar-fixed-top  ">
  <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      {{#if user}}
        <a class="navbar-brand" href="/home">{{user.name}}</a>
      {{else}}        
        <a class="navbar-brand" href="/home">The Native American Database</a>
      {{/if}}       
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/home"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;New Search</a></li>
      <li><a href="/about"><span class="glyphicon glyphicon-grain"></span>&nbsp;&nbsp;About</a></li>
      {{#if user}}
        <li><a href="/mysearches"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;My Searches</a></li>
        <li><a href="/myarticles"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;My Articles</a></li>      
        {{#if user.role}}
          <li><a href="/users/drafts"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;View Drafts</a></li> 
        {{/if}} 
        <li><a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Logout</a></li>
      {{else}}  
        <li><a href="/users/signup"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Sign Up</a></li>
        <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login</a></li>
      {{/if}}
    </ul>
    </div>

  </div>
</nav>
<br><br><br><br>


<div class="col-md-4"></div>
<div id="signupLogin" class="col-md-4">
<h2 class="page-header">Sign Up</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}

<form method="post" action="/users/signup">
   <div class="row">
   <div class="form-group col-md-8">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Your Name" name="name">
  </div>
  </div>
  <div class="row">
   <div class="form-group col-md-8">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email - will be used as your login." name="email">
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-8">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password">
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-8">
    <label>Confirm Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password2">
  </div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<div class="col-md-4"></div>
</div>