<div class="col-xs-12">
	{{#each entry}}
		<div>
			{{#each media_sources}}
				{{#if @first}}
					<img src="{{this.img_ref_1}}" width="150"/>
				{{/if}}
			{{/each}}
			{{this.id}} {{{this.item_title}}} {{this.group}}
		</div><br/><hr/><br/>
	{{/each}}
</div>