.Background {
    bottom: 0;
    background-image: url(../images/fashion-fell-pattern-rug-stock-photos-images-2014-collection-220773.jpg);
    background-size: cover;
    background-attachment: fixed;
    left: 0;
    opacity: 0.20;
    right: 0;
    top: 0;
    position: fixed;
    z-index: -1;
}
.Background2 {
    background-color: #44643d;
    bottom: 0;
    background-size: cover;
    background-attachment: fixed;
    left: 0;
    
    right: 0;
    top: 0;
    position: fixed;
    z-index: -1;
}

.navbar-inverse {
    background: #44643d;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

#mask {
    z-index: 10;
    display: block;
    margin: 0 auto;
}

img.center {
    display: block;
    margin: 0 auto;
}
label {
    color: white;
}
.page-header {
    color: white;
}
#login {
    text-align: center;
}
#search {
    background: #44643d;
}
#signupLogin{

    background-color: #44643d;
    border-radius:15px;
    box-shadow: 10px 10px 5px grey;
    /*background-image: url(../images/kwakiutl-clan-mask.png);*/
    
}

.panel-heading{
    background-color: #44643d;
    color:white;
}
#resultsHeading{
    background-color: #44643d;
    color:white;
}    

#resultsBody{
    border-color:#44643d;
    border-width: 2px;
    border-style: solid;

}