.Background {
    bottom: 0;
    background-image: url(../images/fashion-fell-pattern-rug-stock-photos-images-2014-collection-220773.jpg);
    background-size: cover;
    background-attachment: fixed;
    left: 0;
    opacity: 0.20;
    right: 0;
    top: 0;
    position: fixed;
    z-index: -1;
}

.Background2 {
    background-color: #44643d;
    bottom: 0;
    background-size: cover;
    background-attachment: fixed;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: -1;
}

.navbar-inverse {
    background: #44643d;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

#mask {
    z-index: 10;
    display: block;
    margin: 0 auto;
}

img.center {
    display: block;
    margin: 0 auto;
}

label {
    color: white;
}

.page-header {
    color: white;
}

#login {
    text-align: center;
}

#search {
    background: #44643d;
}

#signupLogin {
    background-color: #44643d;
    border-radius: 15px;
    /*box-shadow: 10px 10px 5px grey;*/
    /*background-image: url(../images/kwakiutl-clan-mask.png);*/
    padding-bottom: 50px;
}

.panel-heading {
    background-color: #44643d;
    color: white;
}

#resultsHeading {
    background-color: #44643d;
    color: white;
}

#resultsBody {
    border-color: #44643d;
    border-width: 2px;
    border-style: solid;
}

a:link {
    color: #44643d;
    text-decoration: none;
}


/* visited link */

a:visited {
    color: #44643d;
    text-decoration: none;
}


}
a:hover {
    color: #209c05;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #44643d;
    text-decoration: none;
}
.btn-default {
    color: #ffffff;
    background-color: #44643D;
    border-color: #44643D;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #209C05;
    border-color: #44643D;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-image: none;
}

.white {
    color: #ffffff;
}
#formInput {
    background-color: #44643d;
    border-radius: 15px;
    /*box-shadow: 10px 10px 5px grey;*/
    /*background-image: url(../images/kwakiutl-clan-mask.png);*/
    padding-bottom: 50px;
    color:white;
    margin-left: 16px;
    text-align: center;

}
#textButton {
    background-color: white;
    color: #44643d;
}
#vidButton {
    background-color: white;
    color: #44643d;
}
#picButton {
    background-color: white;
    color: #44643d;
}
#submit {
    background-color: white;
    color: #44643d;
}
