{{#if about}}

<br/><br/>
<div class="row"><div class="col-xs-12"><h2></h2></div></div>
<div class="col-xs-12 col-md-1"></div>
<div class="col-xs-12 col-md-10">
	<div class="panel panel-default">
		<div id="resultsHeading" class="panel-heading">
			<h2>About the Native American Cultures Database</h2>
		</div>
		<div class="panel-body">
			<div class="col-xs-3"><a href="#purpose">PURPOSE</a></div>
			<div class="col-xs-3"><a href="#authors">AUTHORS</a></div>
			<div class="col-xs-3"><a href="#tech">TECHNOLOGY</a></div>
			<div class="col-xs-3"><a href="#dedication">DEDICATION</a></div>
			<br/><br/>
			<a id="purpose"></a>
			<h3>Purpose</h3>
			<a id="authors"></a>
			<h3>Authors</h3>
			<p>Edgar Martin del Campo
			edgarmdcesp@gmail.com</p>
			<p>Jason Mosley</p>
			<p>John Nowinsky</p>
			<a id="tech"></a>
			<h3>Technology</h3>
			<p>The NACD is a full-stack application with MVC (&quot;Model-View-Controller&quot;) framework.</p>
			<p>Back-end programs were written with Node / Express JS, to produce the app's routers as URLs. Its Node packages include HandlebarsJS, Path, Body-Parser, MySQL, Cookie-Parser, Express-Validator, Connect-Flash, Express-Session, Method-Override, and Passport.</p>
			<p>Information is saved on a SQL database and accessed with the MySQL dialect. Each entry is uniquely stored on a contents table whose key identifiers are associated with tables holding information on the entry's </p>
			<p></p>
			<p></p>
			<a id="dedication"></a>
			<h3>Dedication</h3>
		</div>
	</div>
</div>
<div class="col-xs-12 col-md-1"></div>

{{/if}}